.sideBar {
    flex: 0.18;
    width: 60px;
    height: calc(100vh - 61px);
    top: 61px;
    background-color: white;
    transition: 0.5s;
}

.sideBar.open {
    flex: 1;
    width: 0px;
    height: calc(100vh - 61px);
    top: 61px;
    position: sticky;
    background-color: white;
    transition: 0.5s;
}

.sideBarList {}

.sideBarWrapper {
    padding-top: 8px;
}

.sideBarMenu {
    margin-bottom: 10px;
}

.sideBarTitle {
    font-family: sans-serif;
    font-weight: 500em;
    color: #202124;
    margin-left: 15px;
    font-size: 15px;
    padding: 5px;
    margin-left: 15px;
    transition: 0.5s;
}

.sideBarTitle.close {
    display: none;
    transition: 0.5s;
}

.link {
    text-decoration: none;
}

.sideBarListItem.active {
    background-color: #FCEFC3;
}

.sideBarListItem {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px;
    padding: 11px 0px 11px 20px;
    border-radius: 0 100px 100px 0;
}

.sideBarListItem:hover {
    background-color: #F1F3F4;
}

.sideBarListItem.active:hover {
    background-color: #FCEFC3;
}
