.outter-container {
    display: flex;
    
}

.login-main-container {
    display: flex;
    flex: 6;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input-box {
    height: 40px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.login-input-box:focus {
    outline-color: orange;
}

button[type="button"] {
    margin-top: 20px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.message.show {
    color: red;
}

.message.hide {
    color: transparent;
}
