.sidebar-main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: sticky;
    
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    height: 100vh;
}

.sidebar-wrapper {
    padding: 5px;
}

.user-card {
    display: flex;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.user-card img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid orange;
    margin-left: 5px;
    margin-right: 5px;
}
