.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  /* establish flex container */
  flex-direction: column;
  /* stack flex items vertically */
  /* center items vertically, in this case */
  align-items: center;
}

#scrollTopButton {
  height: 100px;
  margin: 20px;
  color: orange;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}
